/* TODO: 색상토큰 정의 후 design-system으로 이동 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  blockquote {
    border-left: 3px solid gray;
    margin: 1.5rem auto;
    padding-left: 1rem;
  }
}

.react-colorful {
  width: 100% !important;
}

.memo-wrap {
  filter: drop-shadow(0 0 17px rgba(195, 197, 192, 0.3));
  position: relative;

  .memo {
    width: 378px;
    height: 28px;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% -60%, 88% 100%, 0 100%);
    position: relative;
    border-bottom-left-radius: 8px;

    &::before {
      content: '';

      position: absolute;
      right: 0px;
      bottom: -2px;
      width: 12%;
      height: 30px;
      border-top-left-radius: 5px;
      background: #eaebec;
    }
  }
}
