/* TODO: 색상토큰 정의 후 design-system으로 이동 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

@font-face {
  font-family: 'NanumDaheng';
  font-weight: 200;
  src: url('/fonts/nanum.ttf') format('truetype');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.tiptap {
  blockquote {
    border-left: 3px solid gray;
    margin: 1.5rem auto;
    padding-left: 1rem;
  }
}

.tiptap > :first-child {
  margin-top: 0;
}

.react-colorful {
  width: 100% !important;
}
