.ProseMirror {
  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  ul,
  ol {
    @apply py-0 px-8 my-6 first:mt-0 last:mb-0 ml-10;

    ul,
    ol,
    li {
      @apply my-1;
    }

    p {
      @apply mt-0 mb-1;
    }
  }

  & > ul,
  & > ol {
    @apply my-8 first:mt-0 last:mb-0;
  }

  ul[data-type='taskList'] {
    list-style: none;
    padding: 0;
    margin-left: 0px !important;

    p {
      margin: 0 !important;
    }

    li {
      display: flex !important;

      > label {
        flex-grow: 0 !important;
        flex-shrink: 0 !important;
        user-select: none !important;
        margin-top: 3px !important;
        margin-right: 5px !important;
      }

      > div {
        display: flex !important;
      }

      &[data-checked='true'] {
        text-decoration: line-through !important;
      }
    }
  }
}
